<!-- Carrusel -->
<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>


  <div class="carousel-inner">
    <div class="carousel-item active c-css">
      <img src="https://images.pexels.com/photos/21393/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100 c-img" alt="Slide 1">
      
    </div>
    <div class="carousel-item c-css">
      <img src="https://images.pexels.com/photos/1595108/pexels-photo-1595108.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100 c-img" alt="Slide 2">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item c-css">
      <img src="https://images.pexels.com/photos/2162170/pexels-photo-2162170.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100 c-img" alt="Slide 3">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
<div>
    <div class="carousel-caption top-0 mt-4 d-none d-md-block">
      <p class="mt-5 display-1 fw-bolder text-capitalize">Bienvenido a mi tienda Agricola</p>
    </div>
</div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


  <div class="division">
    <!-- carta -->
    <div class="card">
      <img src="https://images.pexels.com/photos/143133/pexels-photo-143133.jpeg?auto=compress&cs=tinysrgb&w=1600" class="card-img-top" alt="...">
  
      <div class="card-body">
        <h5 class="card-title">Zanahorias Dulces</h5>
        <p class="card-text">Zanahorias orgánicas con un sabor dulce inigualable.</p>
        <a routerLink="/comprador" class="btn btn-primary">Go</a>
      </div>
    </div>
  
      <!-- carta -->
      <div class="card">
        <img src="https://images.pexels.com/photos/162830/tomatoes-tomato-harvest-healthy-food-162830.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
    
        <div class="card-body">
          <h5 class="card-title">Tomates Orgánicos</h5>
          <p class="card-text">Tomates frescos y cultivados de manera sostenible.</p>
          <a routerLink="/comprador" class="btn btn-primary">Go</a>
        </div>
      </div>

    <!-- carta -->
    <div class="card">
      <img src="https://images.pexels.com/photos/750952/pexels-photo-750952.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
  
      <div class="card-body">
        <h5 class="card-title">Vegetales Frescos</h5>
        <p class="card-text">Acompaña cada almuerzo con un toque saludable.</p>
        <a routerLink="/comprador" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div> 

  <div class="card-group">
    <div class="card">
      <img src="https://images.pexels.com/photos/7223307/pexels-photo-7223307.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Descuento en Frutas Tropicales</h5>
        <p class="card-text">Aprovecha nuestro descuento especial en frutas tropicales frescas.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://images.pexels.com/photos/2479242/pexels-photo-2479242.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Compra 2, Lleva 1 Gratis</h5>
        <p class="card-text">Aprovecha nuestro descuento especial en frutas tropicales frescas.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://images.pexels.com/photos/6957992/pexels-photo-6957992.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lleva Leche fresca recien Ordeñada</h5>
        <p class="card-text">Prueba nuestra delciosa leche fresca y llena de nutrientes.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>


<section class="#container-del-footer">
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Bienvenido, tu destino fresco y saludable para alimentos agrícolas de la más alta calidad. Nos enorgullece ofrecer productos frescos y deliciosos directamente de los campos a tu mesa. nos dedicamos a apoyar a agricultores locales comprometidos con prácticas sostenibles, garantizando así que cada bocado que disfrutes sea una experiencia que celebre la pureza y frescura de la tierra. Apreciamos tu elección de alimentos conscientes y estamos comprometidos a proporcionarte una selección diversa y nutritiva. ¡Gracias por ser parte de nuestra comunidad y por elegir la frescura</p>
        </div>
 
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">

      </div>
    </div>
</footer>
</section>

